"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "45e131fe-64df-f93d-d0af-16f37a4d43ba"
  "julia-client":
    enableMenu: true
    enableToolBar: true
    juliaPath: "/Applications/Julia-0.5.app/Contents/Resources/julia/bin/julia"
    launchOnStartup: true
  "tool-bar":
    position: "Left"
  "uber-juno":
    disable: true
