"*":
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "__pycache__"
      "*.pyc"
      ".tags"
      ".ropeproject"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-dark-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "491ad535-da31-48a5-ae92-ebfdd48bacc8"
  "ide-python":
    pylsPlugins:
      pycodestyle:
        maxLineLength: 160
      pyflakes:
        enabled: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tree-view":
    hideIgnoredNames: true
